// FlexBox

.flex
    display: flex
    align-items: center
    justify-content: space-between

.flex-grid
    display: grid
    grid-template-columns: 15ch auto
    align-items: center

    margin-bottom: 1.3rem

    .login_forms-label_pink
        margin-bottom: 0

